<nav class="navbar navbar-expand-xl navbar-light  fixed-top" >
  <div class="beta-message">
    Cette application est actuellement en version <span style="color: rgb(244, 202, 95);">BETA gratuite</span>. DabyGo deviendra payante dans la version complète de
    l'application.
  </div>
  <div class="container">


    <!-- Brand -->
    <a class="navbar-brand" href="index.html">

      <span><img src="assets/ico/logo.png" width="30px" height="30px"></span>DABy<span font-size="20px"
        style="color:#58D68D ">GO</span>

    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Social -->


      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="" id="navbarWelcome" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Accueil
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="/map" id="navbarWelcome" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Map
          </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="about" id="navbarLandings" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Qui somme nous </a>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="contact" id="navbarPages" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contact
          </a>

        </li>




      </ul>

    </div> <!-- / .navbar-collapse -->

  </div> <!-- / .container -->

</nav>