<head>
  <style>
		h1 {
			text-align: center;
		}
	</style>
</head>
<body>


    <!-- Content -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">

          <!-- Preheading -->
          <p class="font-weight-medium text-center text-xs text-uppercase text-primary" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
            by Simpleqode
          </p>
          
          <!-- Heading -->
          <div class="row" style="padding-top: 130px;">
            <div class="col-lg-6">
              <img src="assets/img/d1.jpg" width="370" height="300">
            </div>
            <div class="col-lg-6">
              <h1>DABy<span style="color: #58D68D ">Go</span></h1>
              <p >Une application qui oriente le client de la banque vers le DAB en service le plus proche de lui : Demande satisfaite sans perdre du temps à la recherche.</p>
            </div>
          </div>
          <div class="bubble" style="margin-top: 100px;">
            Comment ça marche
          </div>
          <div class="paragraph-container" style="margin-top: 30px;">
            <p class="paragraph-text">C’est comme un GPS pour les DAB en service :</p>
          </div>
          
      </div> 
      <div class="row" style="margin-top: 100px;">
        <div class="col-lg-4">
          <img src="assets/img/etape1.png" style="width: 100;" alt="">
          <p>Etape 1
            le utulisateur ouvrir,map s'affiche sur l'ecran
         
          </p>
        </div>
        <div class="col-lg-4">
          <img src="assets/img/etape1.png" alt="">
          <p>Etape 2:Tous les DAB les plus proches de lui s’affichent</p>
        </div>
        <div class="col-lg-4">
          <img src="assets/img/etape1.png" alt="">
          <p>Etape 3:
            En choisissant le DAB , le trajet le plus
court s’affiche 
          </p>
        </div>
        <div >
          <div class="col-lg-12 text-center" style="margin-top: 60px;">
            <h2>Les solutions proposées</h2>
          </div>
        </div>
      </div>
      <div class="roww" style="margin-top: 80px;">
        <div class="col-lg-4 text-center">
          <div class="circle">
            <img src="assets/img/solution3.png" alt="">
          </div>
          <h3>Solution 1</h3>
          <p>Système GPS pour les DAB en service ; répondre à un besoin urgent.</p>
        </div>
        <div class="col-lg-4 text-center">
          <div class="circle">
            <img src="assets/img/solution2.png" alt="">
          </div>
          <h3>Solution 2</h3>
          <p>Indique le chemin le plus court à prendre ; système de géolocalisation.</p>
        </div>
        <div class="col-lg-4 text-center">
          <div class="circle">
            <img src="assets/img/solution1.png" alt="">
          </div>
          <h3>Solution 3</h3>
          <p>Spécificité de chaque DAB, à savoir le plafond max par opération.</p>
        </div>
      </div>
      <div class="container" style="margin: 100px;">
        <div class="row">
          <div class="col-lg-6">
            <div class="founder">
              <img src="assets/img/saima.png" alt="Fondatrice">
              <h4>Saima Znaidi</h4>
              <p>Fondatrice</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="founder">
              <img src="assets/img/betacube.png" alt="Fondateur">
              <h4>Betacube</h4>
              <p> Venture builder spécialisé en fintech et en mobilité
                www.betacube.io</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="supported-by">
              <h3>Supporté par</h3>
              <img src="assets/img/europe.png" alt="Union Européenne">
              <p>Ce projet est financé par l'Union Européenne</p>
            </div>
          </div>
        </div>
      </div>
 
    </div> 


